<a href="https://colab.research.google.com/github/BaronAWC95014/python_class_instructor/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set up Colab

[Use this to get started.](https://docs.google.com/document/d/1FEs2t7_EnjgQXGkdL_ypF65_5yMGiT1TOIEQB8pLTMU/edit?ts=60c6d875)

# Intro to the Python Language

## What is Python?
- Python is a programming language (a way to provide instructions to the computer).
- Python is a scripting language. In a scripting language, the code always runs and only stops when it runs into an issue. When it runs into an error, it stops, and none of the code after it runs.

In [3]:
# an example of how a scripting language works
print("hello") # runs successfully
abc # throws error, code stops
print("world") # never gets run

hello

NameError: ignored

## Why Python?
- Python is one of the most popular programming languages for colleges.
- Python's syntax (language/grammar) is intuitive and easy to get started with.

## What is Google Colab?
- Programmers usually use integrated development environments (IDE's). which suggest autocompletes for you.
- Python interpreters read code and perform the given actions. Google Colab is a Python interpreter.

# Writing Comments

At any point, if you have a `#` sign, the rest of the line will be ignored by the Python interpreter. This is used for programmers to clarify code (line 1) or make code not run without deleting it (line 3).

In [4]:
2 + 5 # add 2 and 5

# 10 - 5

7

# Using Python as a Calculator

## Basic Arithmetic

You can simply type something like an equation in a code cell and it will print it out for you.

In [5]:
5 + 5

10

However, keep in mind that it only works for the very last one. In this cell, the first line doesn't print, but the second one does.

In [6]:
1 + 2
13 - 5

8

In math, you usually write the multiply symbol as either `x` or `•`. However, this is not the case for coding, and the interpreter will be confused. Instead, you use `*` (`SHIFT` + `8`) (asterisk) to show multiplication. To show division, you use `/`. Spacing between the symbols and numbers don't matter, so `2 + 3` is the same as `2+3` and `2+ 3`.

In [7]:
5 * -4

-20

In [8]:
9/3

3.0

You may notice that the last expression gave `3.0`, not `3`. `3.0` is a float, a number that has a decimal. Since `20` has no decimal, it is an integer (int). This is not very important for the time being, but we will go over integers and floats later.

In [9]:
type(3.0)

float

In [10]:
type(3)

int

These are all the math symbols.
- Parentheses: `()`
- Exponent: `x ** y` or `pow(x, y)`
- Multiply: `x * y`
- Divide: `x / y`
- Add: `x + y`
- Subtract: `x - y`
- Modulus (remainder after division): `x % y`

**EXERCISE:** Find the value of `52 + 4 ** (10 - 2)`. After that, calculate the same expression without the parentheses.

In [11]:
52 + 4 ** (10 - 2)

65588

In [12]:
52 + 4 ** 10 - 2

1048626

**EXERCISE:** Find the sum of all the numbers from 1 to 10.

In [13]:
# brute force (not a good way to do it)
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

55

In [14]:
# formula (better way)
(1 + 10) * 10 / 2

55.0

## Importing Math

It doesn't end there though. You can import more ways to use numbers by typing `import math`. When you type `math.` (the period is important), you should get a window with some autocompletes of functions and constants.

You don't need to worry about what functions are yet, those will come later. Constants are numbers that don't change, like pi.

If the autocompletes don't show up, you probably have to run the cell first, then type `math.` again. If you click away from the `math.` and the autcompletes disappear, delete the period and add it back, and you should get the autcompletes.

By importing math, you now have constants (pi, infinity, NaN, etc), trigonometric functions (sin, cos, etc), and other important operations (sqrt, etc).

In [15]:
import math

print(math.sqrt(1234))

35.12833614050059

If you don't know what something is or what it does, a question mark at the end of the function or constant (without the parentheses) and run the program, and you will be given a help manual. This works for any function, not just for math. We will be exploring more of these later.

This probably only works in Google Colab.

For this example, I typed the following and ran it:

In [16]:
import math

# bring up the Google Colab help manual for this function
math.exp?

![example of what the help manual looks like](https://drive.google.com/uc?export=view&id=1qyC6aKoDdsWi3-55L9icqvnPb3KRyNDf)

## Random Numbers

Python can generate random numbers, which can be useful in some situations. The following are likely the most useful.

In [17]:
import random

# returns an integer between 0 (by default) and 4 (not including 5)
random.randrange(5)

3

In [18]:
import random

# returns an integer between 2 and 11 (not including 12)
random.randrange(2, 12)

11

In [19]:
import random

# returns an integer between 1 and 19, skipping every 2nd number
random.randrange(1, 20, 2)

17

In [20]:
import random

# returns an integer between 5 and 10, both included
random.randint(5, 10)

9

**EXERCISE:** Use random numbers to simulate rolling 2 6-sided dice.

In [21]:
random.randint(1, 6) + random.randint(1, 6)

5

# Strings and Printing

To type a string, you either use single quotes or double quotes.

In [22]:
"Hello World"

'Hello World'

In [23]:
'Hello World'

'Hello World'

However, you cannot use a single quote to start a string and a double quote to end the same string, and vice versa.

In [24]:
'Hello World"

SyntaxError: ignored

With this rule, if you use single quotes to make the string, you can use double quotes inside it, and vice versa.

In [ ]:
"Bob's phone started ringing."

If you want to use both single and double quotes in a string, you can use a backslash (`\`) before the quotation mark. However, there might be a formatting problem.

In [ ]:
"\"Hello, who's this?\" he asked."

The formatting problem comes from the fact that directly typing the string returns what the computer sees, not what the human is supposed to see.

Printing like this wasn't a very good way to do so in the first place, since it only prints the last command. But if you use `print()`, you can print at any time, and the formatting is now correct.

In [ ]:
print("\"Hello, who's this?\" he asked.")

You can print multiple times, and they don't just have to be strings.

In [ ]:
print("the quick brown fox jumps over the lazy dog")
print(2 + 3)

In the following code:

Line 1 prints exactly what is put in, but line 2 the other evaluates the equation. This is because the first one is a string, denoted by the quotes, and one is a number.

Line 4 shows that you can "add" 2 strings together to combine them. Line 5 is similar, but there is a space in between. This is because the strings were connected using a comma. This could potentially be annoying in some situations, but this method allows you to connect different data types (int, string, etc) easily.

Line 7 and 8 show that you cannot attach a number to a string with `print(a + b)`, but you can with `print(a, b)`.

Line 10 shows that you cannot use math operators between strings and math. However, you can use the `int()` function to change a string to a number, as line 11 demonstrates.

In [ ]:
print("3 ** 2")
print(3 ** 2)

print("3" + "2")
print("3", "2")

# print("3" + 2)
print("3", 2)

# print("3" ** 2)
print(int("3") ** 2)

If you want to print multiple lines, you can type `\n` to make a new line. This is an alternative to using multiple print statements at once, but in general, stick to using multiple print statements when it makes sense to.

In [ ]:
print("Hello\nWorld")

**EXERCISE:** Print `1584 squared = [answer]`, replacing `[answer]` with the answer (use math to find the answer).

In [ ]:
print("1584 squared =", 1584 * 1584)

**EXERCISE:** Print the values of 2 seperate dice using only 1 print command in this format, replacing `num1` and `num2` with the actual rolls:
```
the first roll is [num1]
the second roll is [num2]
```

In [ ]:
import random

print("the first roll is", random.randint(1, 6), "\nthe second roll is", random.randint(1, 6))

# Review

Find the value of `3 * (2 ** 4) / 12` (include all the decimals).

In [ ]:
print(3 * (2 ** 4) / 12)

Find the value of `√(385) ** (2/3)` (include all the decimals).

In [ ]:
import math

math.sqrt(385) ** (2/3)

Find the the cosine (`math.cos()`) of a random number between 1 and 20.

In [ ]:
import math
import random

print(math.cos(random.randint(1, 20)))

Print the following (including the quotes): `"Emily likes riding her bike."`

In [ ]:
print("Emily likes riding her bike.")

Print the following (including the quotes): `"Hey, how are you? I'm doing alright," I said.`

In [ ]:
print('"Hey, how are you? I\'m doing alright."')