<a href="https://colab.research.google.com/github/BaronAWC95014/python_class_instructor/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assigning Variables

Variables let us write flexible and repurposable code. If we wanted to store anything, like a name and age, we can assign a value to a variable as follows:

In [12]:
name = "Susan"
age = 15

Note that if you write it the other way around, it results in an error. You must assign variables as `variableName = value`.

In [14]:
"Susan" = name

SyntaxError: ignored

Variable names can contain the lowercase and uppercase letters, the digits 0-9, and underscores. A variable name can't start with a number.

In [15]:
variable_with_underscores = "this variable has underscores in it"

In [17]:
import random

# illegal to have a number at the start
6_sided_die_roll = random.randint(1, 6)

SyntaxError: ignored

In [20]:
import random

die_roll_6 = random.randint(1, 6)

In [21]:
# illegal to have punctuation in a variable
invalid?variable = 5

SyntaxError: ignored

You also cannot name your own variable the same as a reserved name, including but not limited to these:

```
for, while, break, pass, continue
in, is, not
if, else, elif
def, class, return, yield, raises
import, from, as, with
try, except, finally
```

**EXERCISE:** Assign the variable `fav_animal` to your favorite animal.

In [22]:
fav_animal = "dog"

We usually say that `name` refers to `"Susan"`. What this means is that we can use `name` somewhere else and it will be `"Susan"`. In this example, we save 2 random numbers so that we can both see the original numbers and see the sum. The ability to save data to use multiple times and save for later is crucial for programs.

In [25]:
import random

num1 = random.randint(1, 6)
num2 = random.randint(1, 6)

print("the first number is", num1)
print("the second number is", num2)
print("the sum is", num1 + num2)

the first number is 3
the second number is 2
the sum is 5

If we tried to do the same thing without variables, it would be impossible since when we call `random.randint()`, it always makes a new number.

In [24]:
import random

print("the first number is", random.randint(1, 6))
print("the second number is", random.randint(1, 6))
print("the sum is", random.randint(1, 6) + random.randint(1, 6))

the first number is 3
the second number is 5
the sum is 10

**EXERCISE:** Print the rolls of a 4-sided die, 6-sided die,  and 10-sided die; and the sum of all the rolls.

In [26]:
die_roll_4 = random.randint(1, 4)
die_roll_6 = random.randint(1, 6)
die_roll_10 = random.randint(1, 10)

print("the 4-sided die rolled a", die_roll_4)
print("the 6-sided die rolled a", die_roll_6)
print("the 10-sided die rolled a", die_roll_10)
print("the sum of all the rolls is", die_roll_4 + die_roll_6 + die_roll_10)

the 4-sided die rolled a 3
the 6-sided die rolled a 5
the 10-sided die rolled a 1
the sum of all the rolls is 9

# Reassigning Variables

Variables don't have to stay constant. As the same suggests, they can change. You can reassign the value of a variable by typing it out the same way you assign it.

In [27]:
# assignment
num_fruits = 5

# reassignment
num_fruits = 6

For numbers and strings, you can add to the existing variable to reassign it.

In [28]:
num1 = 1
num2 = 1
greeting1 = "hello"
greeting2 = "hello"

# it's okay, but it's longer
num1 = num1 + 1

# shortcut for first way
num2 += 1

# also okay but longer
greeting1 = greeting1 + " world"

# shortcut
greeting2 += " world"

print(num1)
print(num2)
print(greeting1)
print(greeting2)

2
2
hello world
hello world

You can add different variables to the assigning and reassign of variables too, and you can add multiple things at once to variables.

In [29]:
num1 = 5
num2 = num1 + 2

print(num1)
print(num2)

5
7

In [30]:
greeting1 = "the cat"
greeting2 = greeting1 + " in the hat"
greeting3 = "knows a lot about that"

greeting2 += " " + greeting3

print(greeting2.title())

The Cat In The Hat Knows A Lot About That

For numbers, you can use any of the math operators and attach an `=` sign to the end, just like with the `+=` shortcut.

In [32]:
x = 1
x -= 10
print(x)

x = 25
x /= 5
print(x)

x = 23
x %= 3
print(x)

x = 3

import math
x = 20
x = math.cos(x)
print(x)

-9
5.0
2
0.40808206181339196

# Variable Types

## Finding the Type

There are different types of variables. We already messed with numbers and strings, and those are also examples of variable types. You can find the type of something by using `type()`.

In [33]:
# directly find the datatype without a variable
print(type(11))

print(type("hello"))

# find the type of what's inside a variable
num1 = 15
print(type(num1))

num2 = 15.0
print(type(num2))

msg = "this is a message"
print(type(msg))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

Like last time, we see that `15` and `15.0` are different types. That's because an integer/int is a number with no decimal, but a float is one that does. They behave similarly, but they are different types.

## Duck Type

There's a phrase that says that "if it looks like a duck and it quacks like a duck, it's probably a duck." What this means is that you can tell that an animal is a duck just by looking at it.

This is what Python's variables are like. In a language like Java, you have to declare a variable with its type, like this:
```
int x = 5;
```

However, in Python, that isn't the case. This is all it takes:
```
x = 5
```

Python's variables don't care about the type, but it's pretty obvious to figure out what type a variable is. That's why Python's variables are known as "duck type."

So what does this mean? In Java, a variable always stays as its starting variable type. That means that an integer variable will always be an integer, never a string or a different type. But in Python, you can change variables to whatever you want it to be.

In [34]:
x = 5
print(x)
x = "abc"
print(x)

5
abc

## Booleans

A boolean (shortened to `bool`) is another datatype. It only has 2 possible values, `True` and `False`. *They must be capitalized, `true` and `false` are not booleans.*

In [35]:
print(type(True))

bool1 = False
print(type(bool1))

<class 'bool'>
<class 'bool'>

In [37]:
# true is not a boolean because it is not capitalized
print(type(true))

NameError: ignored

There are lots of boolean comparators used to compare data:
- `<`: less than
- `<=`: less than or equal to
- `>`: greater than
- `>=`: greater than or equal to
- `==`: equal to (not the same as =)
- `!=`: not equal to

To check if something is equal to something else must be done with 2 equal signs, not 1. `=` is used to assign variables, and `==` is used to compare.

In [38]:
# 1 equal sign: assign variable
num1 = 5

# 2 equal signs: compare
print(num1 == 5)

True

There are also logical operators to "combine" booleans:
- `not`: flip boolean
- `and`: if a and b are both true
- `or`: if either a or b are true

There is an order to the logical operators. `not` goes first, then `and`, then `or`. If there are multiple of the same operator, it is evaluated from left to right.

In [39]:
# 3 >= 5: False
# 10 == 10: True
# False or True = True
print(3 >= 5 or 10 == 10)

True

In [8]:
print(False or not True and False)
print(False or not (True and False))

False
True

**EXERCISE:** Check if `133^3.2 < 6000000 or 33 * 7.8 >= 260`.

In [16]:
print(133 ** 3.2 < 6000000 or 33 * 7.8 >= 260)

False

You can use `in` and `not in` to see if a string is in another string.

In [22]:
msg = "hello world"
part_of_msg = "world"

isIn = part_of_msg in msg
isNotIn = part_of_msg not in msg

print(isIn)
print(isNotIn)

True
False

# Review

Set a variable to a number, then print it. Then, reassign the variable to become a string, then print that.

In [40]:
var1 = 5
print(var1)

var1 = "five"
print(var1)

5
five

Remember the formula to add all the integers from 1 to 10? Assign a random number between 1 and 100 to `n` and add all the integers from 1 to `n`. Print `n` and the final sum.

In [41]:
n = random.randint(1, 100)

print("n is", n)
print("the sum of the integers between 1 and", n, "is", (1 + n) * n / 2)

n is 72
the sum of the integers between 1 and 72 is 2628.0